<div class="container1">
    <div class=" row col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-2">
      <h1 id="logo">Talk2Me</h1>
    </div>
    <div class="row col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
        <%= form_tag login_path do  %>
        <%= label_tag(:name, "Name", :autofocus => true) %>
        <%= text_field_tag(:name, nil, :id => "name", :class => "form-control",  :placeholder => "Name") %>
        <%= label_tag(:password, "Password") %>
        <%= password_field_tag(:password, nil, :id => "inputPassword", :class => "form-control",  :placeholder => "Password") %>
        <%= submit_tag('Log In', :id => "submit", :class => "btn btn-lg btn-primary btn-block loginBtn col-md-2 col-md-offset-5 col-xs-2 col-xs-offset-3" )%>
        <% end %>
    </div>
</div>
