<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc"></script>
<div class="groupview">
  <div class="group_header">
    <div class="group_header_left col-xs-2">
      <%#= cl_image_tag @group.grp_image %>
    </div>
    <div class="group_header_right col-xs-8 col-xs-offset-1">
      <div class="group_name">
        <%#= @group.grp_name %>
      </div>
      <div class="add_contact">
      </div>
    </div>
  </div>
  <div class="group_body col-xs-12">
    <div class="group_body_left col-xs-2">
      <div class="group_body_left_top">
        <div class="group_body_left_top_0">
          <div class="group_image">
            <%= cl_image_tag @group.grp_image, :class=>'group_image' %>
          </div>
          <div class="group_name">
            <%= @group.grp_name %>
          </div>
        </div>
        <div class="group_body_left_top_1">
          <%= link_to "Edit Group", edit_group_path(@group) %>
        </div>
        <div class="group_body_left_top_2">
          <label for="usersearch">Add User</label>
          <input type="text" name="usernamesearch" id="search" placeholder="name"></input>
        </div>
      </div>
      <div class="group_body_left_bottom">
        <label for="users">Members:</label>
        <ul class="group_members_list">
          <% @group.users.each do |contact| %>
            <li>
              <% if (contact).eql?(@current_user) %>
              <p class="col-xs-1">
                <% group_member_name = 'Me' %>
              </p>

              <% else %>
              <p class="col-xs-1">
                <% group_member_name = contact.name %>
              </p>
              <% end %>
              <% if (contact.id).eql?(@group.grp_admin_id) %>
                <%= link_to group_member_name , contact, :class => 'glyphicon glyphicon-king' %>
                <%= link_to (cl_image_tag contact.image , :class => 'user_image') , contact  %>
              <% else %>
                <%= link_to group_member_name , contact , :class => 'glyphicon glyphicon-pawn'%>
                <%= link_to (cl_image_tag contact.image , :class => 'user_image') , contact  %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="group_body_right col-xs-10">
      <div class="panel panel-default">
        <div>
          <% if @group.messages.count > 10 %>
            <p class="old_messages">View older messages</p>
          <% end %>
        </div>
        <% if @group.messages.any? %>
          <div class="panel-body" id="messages">
            <%= render partial: 'messages/message', collection: @group.messages.order('created_at desc').take(10).reverse%>
          </div>
        <%else%>
          <div class="panel-body hidden" id="messages">
          </div>
        <%end%>
      </div>

        <%= render partial: 'messages/message_form', locals: {message: @message, group: @group}%>
    </div>
  </div>
</div>
