<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc">

</script>
<div class="groupview">
  <div class="group_header">
    <div class="group_header_left col-xs-2">
    </div>
    <div class="group_header_right col-xs-8 col-xs-offset-1">
      <div class="group_name">
      </div>
      <div class="add_contact">
      </div>
    </div>
  </div>
  <div class="group_body col-xs-12">
    <div class="group_body_left col-xs-2">
      <div class="group_body_left_top">
        <div class="group_body_left_top_0">
          <div class="group_image">
            <%= cl_image_tag @group.grp_image, :class=>'group_image' %>
          </div>
          <div class="group_name">
            <%= @group.grp_name %>
          </div>
        </div>
        <div class="group_body_left_top_1">
          <%= link_to "Edit Group", edit_group_path(@group),:class => 'glyphicon glyphicon-pencil' %>
          <%= link_to "Delete Group", group_path(@group),:class => 'glyphicon glyphicon-trash',:method => 'delete', :data => {:confirm => "Are you sure"} %>
        </div>
        <div class="group_body_left_top_2">
          <label class="glyphicon glyphicon-plus" for="usersearch">Add User</label>
          <input type="text" name="usernamesearch" id="search" placeholder="name"></input>
        </div>
      </div>
      <div class="group_body_left_bottom">
        <label for="users">Members:</label>
        <p><%= pluralize(@group.users.count,'member') %> </p>
        <ul class="group_members_list">
          <% @group.users.each do |contact| %>
            <li class="listing_members">
                <% group_member_name = contact.name %>
                <% if (contact.id).eql?(@group.grp_admin_id) %>
                  <%= link_to (cl_image_tag contact.image , :class => 'user_image') , contact  %>
                  <%= link_to group_member_name , contact, :class => 'glyphicon glyphicon-king' %>
                  <p class="user_status"><%= contact.status %></p>
                <% else %>
                  <%= link_to (cl_image_tag contact.image , :class => 'user_image') , contact  %>
                  <%= link_to group_member_name , contact , :class => 'glyphicon glyphicon-pawn'%>
                  <%= link_to  '<span class="glyphicon glyphicon glyphicon-scissors" aria-hidden="true"></span>'.html_safe, removeusersfromgroup_path(@group,contact)  %>
                  <p class="user_status"><%= contact.status %></p>
                <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="group_body_right col-xs-10">
      <div class="panel panel-default">
        <div>
          <% if @group.messages.count > 10 %>
            <p class="old_messages">View older messages</p>
          <% end %>
        </div>
        <% if @group.messages.any? %>
          <div class="panel-body" id="messages">
            <%= render partial: 'messages/message', collection: @group.messages.order('created_at desc').take(10).reverse%>
          </div>
        <%else%>
          <div class="panel-body hidden" id="messages">
          </div>
        <%end%>
      </div>
      <%= render partial: 'messages/message_form', locals: {message: @message, group: @group}%>
    </div>
  </div>
</div>
