<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li class="error_message"><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user,:html => {:multipart => true}  do |f| %>
  <fieldset>
      <%= f.label :name,:class=> "col-xs-2 col-xs-offset-2 col-md-3" %>
      <%= f.text_field :name ,:class=> "col-xs-4  col-md-4 col-md-offset-2" %>
  </fieldset>
  <fieldset>
      <%= f.label :email_id ,:class=> "col-xs-2 col-xs-offset-2 col-md-3"%>
      <%= f.text_field :email_id ,:class=> "col-xs-4  col-md-4 col-md-offset-2"%>
  </fieldset>
  <fieldset>
      <%= f.label :password,:class=> "col-xs-2 col-xs-offset-2 col-md-3" %>
      <%= f.password_field :password ,:class=> "col-xs-4  col-md-4 col-md-offset-2"%>
  </fieldset>
  <fieldset>
      <%= f.label :confirm_Password,:class=> "col-xs-2 col-xs-offset-2 col-md-3" %>
      <%= f.password_field :password_confirmation ,:class=> "col-xs-4  col-md-4 col-md-offset-2"%>
  </fieldset>
  <fieldset>
      <%= f.label :status ,:class=> "col-xs-2 col-xs-offset-2 col-md-3"%>
      <%#= f.text_field :status ,:class=> "col-xs-4  col-md-4 col-md-offset-2"%>
      <%= f.select :status,['Available','Busy','Do not disturb','No calls, only messages','Killing all humans'],:include_blank => true, :class => 'col-xs-4  col-md-4 col-md-offset-2' %>
  </fieldset>
  <fieldset>
    <div class="user_image_field">
      <%= f.label :image ,:class=> "col-xs-2 col-xs-offset-2 col-md-3"%>
      <%= cl_image_upload_tag :image ,:class=> "col-xs-4  col-md-4 col-md-offset-2 cl_img" %>
    </div>
  </fieldset>
  <%= f.submit 'Submit',:class=> "btn btn-primary user_create_btn" %>
<% end %>
