<div class="edit_user">
  <div class="edit_user_top">
    <div class="edit_user_top_left">
      <%= cl_image_tag @user.image , :class => 'user_display_image' %>
    </div>
    <div class="edit_user_top_right">
      <%= @user.name %>
    </div>
  </div>
  <div class="edit_user_bottom">
    <fieldset>
      <label for="email_id">Email:</label><%= @user.email_id %>
    </fieldset>
    <% if @user.phone_number.present? %>
      <fieldset>
        <label for="email_id">Phone Number</label>
        <p> <%= @user.phone_number %></p>
      </fieldset>
    <% end %>
    <fieldset>
      <label for="user_groups">Member of:</label>
      <ul>
        <% @user.groups.each do |group| %>
          <li class="groups_list">
            <%= group.grp_name %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </div>
</div>
