<!DOCTYPE html>
<html>
  <head>
    <title>Talk2Me</title>
    <%= csrf_meta_tags %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@flickr" />
    <meta name="twitter:title" content="Small Island Developing States Photo Submission" />
    <meta name="twitter:description" content="View the album on Flickr." />
    <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc">

    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user.present? %>
      <script>
        var app = app || {};
        app.current_user = <%= @current_user.id %>;
      </script>
    <% end %>
    <div class="container col-xs-12">
      <% if @current_user.present? %>
        <%= render :partial => 'layouts/header_form' %>
      <% else %>
          <%= render :partial => 'layouts/header_form' %>
      <% end %>
      <%= yield %>
      <%= render :partial => 'layouts/footer_form' %>
    </div>
  </body>
</html>
