<!DOCTYPE html>
<html>
  <head>
    <title>Talk2Me</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= cloudinary_js_config %>
  </head>

  <body>

<%# <!-- google map API key - AIzaSyDQhiJp0Ee3xKve1KYOLfVY0kF9lHF1xrc -->
%>
<!-- <script>var initMap = initMap || function () {}</script> -->
    <script>
      var app = app || {};
      app.current_user = <%= @current_user.id if @current_user.present?%>;
    </script>
    <div class="container">
      <%= render :partial => 'layouts/header_form' %>
      <%= yield %>
      <%= render :partial => 'layouts/footer_form' %>
    </div>
  </body>

</html>
